/* media queries for each device type: small, medium, large*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: Roboto, sans-serif;
  margin: 0px;
}
header,
main,
footer {
  max-width: 1000px;
  margin: 0px 0px;
  padding: 1rem 1rem;
  background-color: dodgerblue;
}

main {
    background-color: lightgray;
}

header h1, h2, a, p, footer {
    color:white;
}

header h1 {
    font-size: 36px;
}

#gallery {
    padding: auto auto auto auto;
    margin: auto auto;
    text-align: center;
}

img {
    margin: 3% 8%;
    width: 14rem;
    height: 14rem;
    border: 5px solid white;
    filter: drop-shadow(4px 4px 10px);
    object-fit: cover;
}

h1 {
    text-align: center;
}

#currnt {
    margin: auto auto 1rem;
}

nav a {
    padding: 20px;
    display: none;
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
#menu {
    border: none;
    text-align: center;
    margin: auto;
}

#menu:hover {
    text-decoration: none;
    color:thistle;
}

footer {
    text-align: center;
}
          
@media screen and (min-width: 900px) {
    /* can't tell if fonts are supposed to be larger or smaller depending on screen size */
    header, main, footer {
        padding: 1rem 15%;
    }
    main {
        display: flex;
        flex-wrap: wrap;
    }
    section {max-width: 16em;}

    #menu {display: none;}

    nav {
        display: flex;
        padding: 0px 18rem;
        /*flex-direction: row-reverse;*/
    }
    nav a {
        display: initial;
        padding: 0 20px;
        text-align: center;
    }

    img {
        margin: 2% 3%;
    }
}
