body {
    font-family: Roboto, sans-serif;
    font-size: 20px;
}

header, main, footer {
    max-width: 640px;
    margin: 0 auto;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    background-color: rgba(62, 62, 167, 0.75);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;    
}

section {
    padding: 5px;
    background-color: white;
    border-radius: 5px;
}

@media screen and (min-width: 500px) {
    header {
        background-color: black;
        color: white;
    }
    main {
        grid-template-columns: 1fr 1fr;
    }
}

